
@font-face {
	font-family: neuhaas;
	src: url(../fonts/neuhaas.woff2);
}





/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
  box-sizing:border-box;  
}



/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	/* startje */
	--color-text:#111;
    --color-text-emphasize:rgb(241,0,0);
	--color-background:rgb(255, 255, 255);
    --color-button-hover:rgb(125, 125, 125);
    --color-button-focused:rgb(125, 125, 125);
    --color-button-active: rgb(72, 72, 72);
    --color-button-border: rgb(55, 34, 156);

}

/*
@media (prefers-color-scheme:dark){
    :root {
        --color-text-darkmode:#eee;
        --color-background-darkmode: #111;
    }
}
*/

/* algemene styling */

body {
	margin:0;
	font-family:neuhaas, sans-serif;
	
}

button, summary {
	cursor: pointer;
}

.visually-hidden {
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	width: 1px;
  }

/********/
/* HEADER */
/********/

header{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
    padding:.5em 0.75em;
    position: sticky;
    top: 0;
    z-index: 200;
	/* margin-top: .5em; */
	/* margin-left: 1.5em; */
	/* margin-right: 1.5em; */
}

header img{
    margin-top: .2em;
}

header h1{
    margin:0;
    font-size:1em;
}

header h1 img {
    width:6em;
}

/* filter */
header form{
	order: -100;
    width: 10em;
}

header form label:not(:last-of-type)::after{
	content: ",";
}

/* back */
header a:nth-child(2){
    width: 10em;
    order: -100;
}

/* cart */
header a:nth-child(3){
    width: 10em;
    text-align: right;
}

header a:visited{
    color:var(--color-text);
}



/********/
/* FOOTER */
/********/

footer{
    display: flex;
	flex-direction: column;
	align-self: center;
	margin-bottom: 3em;
	padding-top: 12em;
}

footer h2{
	align-self: center;
    margin:0;
}

/* payment opions list */
footer > ul{
	display: flex;
	align-items: center;
	align-self: center;
	gap: 0.5em;

    margin:0;
    padding:0;
    margin-bottom: 1.5em;
}

footer > ul img{
	width: 3em;
}

/* info en social media links */
footer p{
	font-size: 0.8em;
}

footer h2{
	font-size: 0.8em;
}

footer a{
	font-size: 0.8em;
    color:var(--color-text);
}

footer a:hover{
    color: var(--color-button-hover);
}

footer section {
    text-align: center;
    max-width: 44em;
    margin: 0 auto;
}

footer section * {
    display: inline;
    
}

footer section p:nth-of-type(2) {
	color:var(--color-text-emphasize)
}

/* Zorgt ervoor dat de header en footer er netter uitzien op mobiel. */

@media (min-width: 50em){

    header{
        padding:.5em 1.5em;
    }

    footer ul{
        gap: 2em;
    }
    
    footer > ul img {
        width: 5em;
    }
}
